.topo{
    background-color: seagreen;
    color: white;
    height: 50px;
    align-content: center;
}

.menu{
    width: 200px;
    float: left;
    border: solid black;
    padding-right: 10px;
    height: 200px;

}

.conteudo{
    width: 400px;
    float: right;
    border: solid black;
    height: 400px;


}

div{
    
    padding: 6px;
}

body{
    margin: 0px;
}